<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
                font-style:italic;
            }
        
        </style>
    </head>
<body>
<nav>
    <a href="/blog">Go to blog posts</a>
    <br>
    <a href="/newpost">Write a new blog post</a>
    <br>
    <a href="/login">log in</a>
    <br>
    <a href='/logout'>log out</a>
    <br>
    <a href="/">Home</a>
</nav>
    {% block content %}
    {% endblock %}

</body>
</html>