{% extends "base.html" %}

{% block content %}
<h1>Register for a Blog Account</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
                <td class="error">{{ nameerror }} </td>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <td class="error">{{ pwderror}} </td>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <td class="error">{{ verify_pwd_error }}</td>
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>
{% endblock %}